parameters:
    level: 9
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Method Hereldar\\FakerHelper\\Generator::\w+\(\) should return non-empty-string but returns string\.#'
        - '#Method Hereldar\\FakerHelper\\Generator::\w+\(\) should return array\{[^}]+\} but returns array\.#'
        - '#Method Hereldar\\FakerHelper\\OptionalGenerator::\w+\(\) should return non-empty-string\|null but returns string\.#'
        - '#Method Hereldar\\FakerHelper\\OptionalGenerator::\w+\(\) should return array\{[^}]+\}\|null but returns array\.#'
